

    

    .container{
      margin:auto;
      margin-top: 10%;
      display: block;
      position: relative;
      justify-content: center;
      width: 500px;
      height: 300px;
    }
    
    input{
      width: 350px;
      height: 30px;
      margin:5px;
    }
    
    button{
      margin-top: 30px;
      font-size: large;
      font-weight: 700;
      width: 350px;
      height: 40px;
      margin:5px;
      background-color: #6495ED;
      color:white;
      border:none;
    }
    
    .error{
      display: block;
      height:30px;
      padding: auto;
      color:red;
    }