.tablehead{
    background-color: #6495ED;
}
.tableContainer{
    margin-top: 200px;
    width: 80%;
    margin:auto;
    height:80%;
}
.add-button{
    width:200px;
}

.header-container{
    display: flex;
}

h3{
    padding:50px;
    float:right;
}
.add-button-float{
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 10%;
    order: 2;
}
.home-title{
    padding-left:180px;
}