.App {
  text-align: center;
  font-family:  sans-serif;
  color:#00B2EE;
  height: 100vh;
  margin:0px;
  display:block;
}


h1{
  text-align: center;
  padding: 30px;
  margin: auto;
  font-weight: 900;
  color: #6495ED;
  }

h3{
  text-align: center;
  margin-left:30px;
  font-weight: 900;
  color: #6495ED;
  
}  
.selection{
  cursor: pointer;
}