.user-details-container{
    margin:auto;
    height: 80vh;
    width: 120vh;
    display: block;
}

.profile-picture{
    padding:10px;
    margin-left: 40%;
    height:100px;
    width: 100px;

}

.left-space{
    margin-left: 15%;
}

.submit-okay{
    width: 175px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  
  .grid-item {
    padding: 20px;
    text-align: center;
  }
  
  .form-label{
    display: flex;
    padding-top:10px;
    padding:14px;
    margin-left:10px
  }
  .submit-cancel-align{
    padding-left: 30%;
    display: flex;
  }